[2016-03-18 14:28] mithrendal opened #27 "scaled down horizontal screen resolution in medres and hires"
Problem: the horizontal screen resolution is always set to lo-res (320px).

Description:
Workbench boots typical in med-res = 640x256 (PAL MedRes). But our emulator does scale the bitplane information down to 320x256 (PAL LowRes) (in fact it seems to skip every second pixel). If stretch toggle enabled, iAmiga scales the downscaled 320px horizontal res up to the devices horizontal resolution. Despi

[2016-03-18 20:13] emufreak commented on #27
Worthy goal. I think first thing we need to find out is where the scaling down happens. In iAmiga Code or in the uae4all source. If its in the uae4all part we might find a solution in the latest source.

[2016-03-18 22:50] simontoens commented on #27
Issues are alive!  Thanks @emufreak.

+1 on getting the higher resolutions fixed.

[2016-03-18 22:58] simontoens opened #28 "Expose sound settings"
It should be possible to disable the sound output completely.  This is useful when different sound is already playing on the iDevice, typically from Music.app.

It would be nice to have a volume slider to be able to adjust emulator sound volume relative to other sound that may already be playing.

It would be nice to be able to selectively exclude emulator sound from AirPlay.  I don't know if this

[2016-03-18 22:59] simontoens opened #29 "HD support"
This is what I am working on right now

[2016-03-22 22:12] mithrendal commented on #27
@emufreak I am at it and will try this one out and do as you proposed. But I need some more time for it. Very busy at the moment.

[2016-03-27 07:21] emufreak opened #30 "Advanced Joypad and Multipeer support"
Multipeer connectivity as we have it now brings Multiplayer gaming to iOS.

I'd like to do the following:

-Enable the mapping of Keys as we have it now for the Onscreen and Physical Controller to Multipeer
-Enable The use of Multiple physical game Controllers with iUAE
-Enable Individual Keymapping for each connected device
-Make the handling as easy as possible

First question is where to handle

[2016-03-27 07:31] emufreak commented on #30
A few additions: Devices will connect automatically to the next available key mapping. A small message pops up on the server.

Also please inform me if you plan to change anything on Keymapping or Joystick as there is a good chance that we would have merge conflicts.

[2016-03-27 19:31] MrStargazer commented on #30
@emufreak  i hope you haven't done any implementation from above yet. I'm currently working on an motion controller for the virtual dpad. So i think it is highly probable that merge conflicts will occur. Can you give me some days to pull my changes?

[2016-03-27 19:59] emufreak commented on #30
I started work already. I merged quiet a lot of changes already. InputControllerView is not affected yet but i plan some changes for this weekend. Did you touch any other Methods? I suggest you make a Pull Request as soon as possible. I will do a lot of work tomorrow still. After that you're good to go for a while. We can then discuss how to get passed each other.

[2016-03-27 20:38] MrStargazer commented on #30
Until now the most changes are in SettingsJoypadVPadController and of course in the Storyboard too.  Maybe the conflicts aren't as big as i have imagined. Don't wait for my pull request, since I can't spend too much time for it.

[2016-03-27 20:44] emufreak commented on #30
Thanks. I have a lot of time at the moment and i want to use it for this project. After that it will be long till I have an opportunity like this again. I'm sure we'll make it fit somehow.

[2016-03-28 04:42] simontoens opened #31 "List of software that doesn't work"
This issue exists to track the list of software that does not work with iAmiga.  We can create more detailed issues once we figure out the actual cause.

Defender of the Crown (runs too fast)*
It came from the Desert (runs too fast)*
Wings (runs too fast)*

* possibly related with the processor being emulated?  I am not even sure which particular Amiga model we are emulator - being able to adjust

[2016-03-28 04:47] simontoens opened #32 "Break up storyboard into multiple storyboards"
The storyboard takes annoyingly long to compile.  Apparently we need to break it up into multiple files.  http://stackoverflow.com/questions/29778637/how-to-reduce-compiling-time-with-storyboards?rq=1

[2016-03-29 09:48] yunti opened #33 "apple tv (4) support"
Would it be difficult to get this to work with the latest apple tv as well as iphone etc...? (Particularly now as apple tv support any bluetooth keyboard, it would be a good fit).

[2016-03-29 11:26] mithrendal commented on #31
"Xenon2 -Megablast ... [cr VF].adf" the one disk only version is perfectly playable with good graphics. Distributions with two disks do crash though. And yes the game is a blast ;-)

(It is also mentioned in http://arstechnica.com/gadgets/2015/07/the-amiga-turns-30-nobody-had-ever-designed-a-personal-computer-this-way/   at Part 7 -> Page 3)

[2016-03-29 12:47] simontoens commented on #31
Thanks @mithrendal, good to know, I will test.

[2016-03-29 12:48] simontoens commented on #33
@yunti, I think the most realistic answer would probably be "would you like to give it a try"? :)

[2016-03-30 05:38] simontoens commented on #31
@mithrendal I still see the same problem, let's talk offline - can you email me at simontoens@gmail.com?

[2016-03-30 11:03] MrStargazer commented on #30
I had a look in your new commits and I saw that you are routing MFI through the MPConnectivity? Why not connecting each MFI-Controller directly with the device? Whats the point about routing it via MPC ?  Is it maybe because of a only **ONE** MFI-Controller can be connected to a single device contraint?

[2016-03-30 11:53] simontoens opened #34 "master does not build - some files have version conflict markers"
Looks like a bad merge.  @emufreak could you have a look?

[2016-03-30 18:03] mdbergmann opened #35 "Crash when loading Cloanto kickrom"
Hi.

I've tried the emulator (1.1.0) with Cloanto roms.
When starting the Emulator I'm getting a EXC_BAD_ACCESS error in zfile.cpp method:
size_t uae4all_rom_fread(void *ptr, size_t tam, size_t nmiemb, FILE *flujo)
[code]
Is using Cloanto ROMs supported?

Manfred

[2016-03-30 21:45] simontoens commented on #35
Hi @mdbergmann, I _think_ the answer is that you are the first one to try and so given your experience, I guess Cloanto ROMs are not supported.  Would you like to try to contribute a fix?

[2016-03-31 06:49] emufreak commented on #30
The thought process was like this. We want to share as much code es possible for all classes of device controllers (iCade, MFi, Onscreen, Multipeer) It does make sense to share especially the whole Keymapping stuff between those classes. First thing that sprang in mind was a Parent Class. This is difficult however because some of this classes (Mfi, icade, inputview) are inheriting from Uiview and

[2016-03-31 13:32] mdbergmann commented on #35
I can have a look. But that'll take a while.

[2016-03-31 15:06] mdbergmann opened #36 "256k ROMs don't work"
Hi.

Sorry to open an issue for this.
I'll gladly write to a mailing list or something else if available.

I'd really like to get iUAE running.
Here is my problem:
- downloaded the sources for 1.1.0.
- added kick13.rom to bundle (it is found and read on emulator startup, rom was extracted from a real a500).
- added workbench 1.34 adf to bundle.
- build and run on iPad mini 4
all I get is a grey sc

[2016-03-31 17:34] mithrendal commented on #36
The removal of the runscript is correct. Did you try the dev branch?

[2016-03-31 20:13] emufreak commented on #35
What Version of Cloanto Amiga Forever do you use?

[2016-03-31 20:47] mdbergmann commented on #36
Yeah, I've tried the dev branch just now.
Same problem.

[2016-03-31 23:09] simontoens commented on #36
Does the same thing happen when you run in a simulator?  Does this rom you are using work fine with other Amiga emulators (for example FS-UAE)?

[2016-04-01 07:17] emufreak commented on #33
A quick look showed to me that at least part of the code needs to be rewritten. Especially the storyboard. I think it would mean a few weeks of coding. @yunti I won't do this anytime soon but I'd love if someone would try :-)

[2016-04-01 08:48] mdbergmann commented on #36
The exact same thing happens on the simulator, it's just a bit quicker until the grey screen comes up.
The rom works fine on fs-uae.

I can see the grey screen on fs-uae as well, after it however would come the PAL white screen with the 1.3 disk hand.
It seems it's stuck somewhere.

[2016-04-01 09:30] mdbergmann commented on #35
It's at least 2013, possibly newer.

[2016-04-01 12:35] simontoens commented on #36
hmmm weird, I don't have any good idea on how to debug this further, apart from trying a different rom...

[2016-04-01 13:49] mdbergmann commented on #36
Can you send me a rom that works for you?
Then we can confirm it's because of the rom.
If that's really the problem then uae4all should really be tweaked to accept more roms.

[2016-04-01 17:28] mdbergmann commented on #36
OK, I found a 1.3 ROM that works.
But it's strange. My original A500 ROM is 256 kB this one I got elsewhere is 512kB. Also all the Cloanto ROMs for v1.0-1.4 are all 256kB in size.
It looks like the rom loading code is not very mature.

Every though of using uae4all2?

[2016-04-01 17:38] mdbergmann opened #37 "Add option to eject disks"
I can't see where to eject disks.
Would be good to add this.

[2016-04-01 21:43] simontoens commented on #37
You can left-swipe on the drive row to eject.  One of these days we'll need to write some documentation.

[2016-04-01 21:45] simontoens commented on #36
Glad you got it working at least.  It is possible that the rom loading code is not using the latest from uae4all2 - it may be worthwhile to compare the code.

[2016-04-02 00:25] simontoens commented on #36
@mdbergmann based in your findings, could you update this issue's title to something like: "256k roms don't work"?

[2016-04-02 00:25] simontoens commented on #34
@emufreak could you fix this?

[2016-04-02 00:26] simontoens commented on #31
Turns out that there some sort of race condition with Xenon 2 - sometimes the graphics look ok, often they don't.

[2016-04-02 00:28] simontoens opened #38 "Add auto fire option for virtual joypad"
I would like to be able to easily enable and disable auto fire when using the virtual joypad.  This should also work when connecting remote virtual joypads.

[2016-04-02 06:57] mdbergmann commented on #38
Yeah. Wiki?

[2016-04-02 06:58] mdbergmann commented on #37
OK, thanks.
The Wiki?

[2016-04-02 08:06] emufreak commented on #37
I could add it on iua-emulator.net in the FAQs section. I didn't know about this myself actually :-)

[2016-04-02 08:37] simontoens commented on #37
@emufreak I think we could just use the wiki here?  It seems nice to manage everything in a single place.  I was actually just going to add more info in README.md.  The benefit of README.md is that everybody can edit (and submit pull requests)

[2016-04-02 08:38] simontoens commented on #37
@mdbergmann could you close this issue?

[2016-04-02 08:57] #37 closed

[2016-04-03 15:42] mdbergmann opened #39 "Setting for reducing battery drain"
Hi.

Can anyone recommend a compile time setting to reduce CPU load and battery drain as much as possible?

Manfred

[2016-04-03 18:56] mdbergmann opened #40 "Preview for text on virtual keyboard"
I think it would be nice if the virtual keyboard would have a preview.
Most of the time the keyboard is displayed over the text curser in the emulator view.
For example: in text adventures you don't see what you're typing.

[2016-04-04 06:12] emufreak commented on #35
@mdbergmann. Sorry that's not what I meant. Is it Value, Plus or Premium Edition . Problems were reported with other emulators with Value Edition.

[2016-04-04 06:15] emufreak commented on #36
I made a quick research uae4all2 does support 256k roms. So it would be possible to port this

[2016-04-04 12:46] mithrendal commented on #39
Hi manfred,
In order to save some execution time during emulation you could disable sprite collision. At the moment sprite collision is enabled by default. Some games who use BlitterObjects (BOBs) dont need proper collision deetction. You could invent a setting to toggle sprte collsion on/off.

[2016-04-04 14:22] emufreak commented on #38
That would be nice. Question is how to add this:

First: Should this be only for Button Mapped to Joypad input or just for some buttons or should this apply to all buttons.
Second: How to do this in a user friendly manner

My first Idea is this:

For devices supporting force touch it would be a option to use this for auto fire. For devices not using force touch a twofinger tap or a swipe on the bu

[2016-04-04 17:18] mdbergmann commented on #35
I have the Plus edition.

[2016-04-04 17:59] mdbergmann opened #41 "No sound"
Hi.
I have no sound in iUAE on my iPad mini 4.
Must this be switched on somewhere?

Manfred

[2016-04-04 19:33] emufreak commented on #34
@simontoens Just fixed this

[2016-04-04 20:18] emufreak commented on #30
@MrStargazer Planning some changes in the Storyboard. Especially for the View SettingsJoypadController. Do you think you can Merge your changes till the end of the week. It doesn't need to be perfect. Just shouldn't break anything.

[2016-04-04 21:38] simontoens commented on #38
I think it is enough to only add it for the fire button, not for all buttons the joypad exposes.

To enable/disable, it could be a 2 finger swipe anywhere across the screen.  There would have to be some visual indication that it auto-fire is currently enabled - for example a small red square could show up on the top left corner if auto-fire is enabled.

[2016-04-04 21:50] simontoens commented on #38
Or to rephrase, if auto-fire can only be triggered for a single, pre-determined button on the virtual joypad, that would be enough for 99% of games.

[2016-04-04 21:52] simontoens commented on #41
No, sound is always on.  Do you have any other iDevices you can test the emulator on?  I doubt this is related to running on an iPad mini 4 but I cannot say for sure because I don't have one.

[2016-04-04 21:53] simontoens commented on #34
I verified that master builds now, so closing this.  Thanks @emufreak.

[2016-04-04 21:53] #34 closed

[2016-04-05 06:45] MrStargazer commented on #30
@emufreak I'm sure to merge my changes before the end of the week, since i'm pretty close right now. Please wait, because have a lot of changes especially in SettingsJoypadVpadController both Storyboard and Controller.

[2016-04-05 17:05] mdbergmann commented on #41
Sorry. I had my iPad in silent mode.
Sound is working OK.

[2016-04-05 17:05] #41 closed

[2016-04-06 08:14] mdbergmann commented on #39
I found a function do_sprite_collision() in custom.cpp and commented it out.
But I couldn't see that it reduces the CPU load very much. I guess there must be a lot of sprites to really reduce load.

[2016-04-06 08:16] mdbergmann commented on #39
On average one core has a load of 45% on Workbench 1.3, using mouse, shell, etc. That is quite a lot. Although watching a youtube video might produce a similar load.

[2016-04-06 08:50] mithrendal commented on #39
When you seeing 45% load, which device are you talking about ?  I mean if it is a A4-Processor powered device, this would seem to be an completely welcome and acceptable value.

[2016-04-06 10:50] mdbergmann commented on #39
It's an iPad mini 4. With a A8 CPU, 2 core, 1.5GHz.
Some say it has more power per core than a PPC G4 that was built into PowerBooks, MacMini, etc.
On my PowerBook G4, 1.6GHz e-uae on MorphOS is emulating an A500 cycle exact at ~30% CPU load.

Having said that, compiling iUAE with -O3 reduces the load to 24-27%.
That's acceptable, also for longer play sessions on battery.

[2016-04-06 11:10] mithrendal commented on #39
Wow, that sounds better. I also want this setting ;-) Someone should make a pull request and bring it into the master/dev branch, @emufreak or do you like to fix that quickly ?

[2016-04-06 13:30] mdbergmann commented on #39
It depends a bit how you install iUAE on you device.
If you install it by running the app in Xcode then the debug setting is effective here, which by default is -O0. And it must be -O0 if you want to debug the code. However you can set it temporarily to -O3 when installing the app to the device in case you don't want to debug.
If you use Ad-hoc install the optimization setting is already at -Os wh

[2016-04-06 23:26] simontoens commented on #39
Sounds like we can just document this - @mdbergmann do you want to update README.md with this information?

[2016-04-07 08:04] mdbergmann commented on #39
Yeah, can do.

[2016-04-07 10:32] mdbergmann commented on #39
Added pull request

[2016-04-07 10:32] #39 closed

[2016-04-07 16:18] mdbergmann commented on #27
Is this what I'm seeing in the attached?
I'm trying to play text-adventures (Infocom). The text is hardly readable.

How can this be improved?

![img_0035](https://cloud.githubusercontent.com/assets/2143978/14358396/110d68b6-fced-11e5-9e67-4a3a244d5444.PNG)

[2016-04-07 19:24] mithrendal commented on #27
Yes thats the Problem. We have to bring the horizontal  Resolution to 640 pixel. I want to fix this but had no time recently.

I have found one anomaly in the drawing.cpp

in drawing.cpp in the method void pfield_init_linetoscr (void)

there is a odd thing. In other uae4all editions it has not the 4 following lines
if (res_shift)
pfield_do_linetoscr=(line_draw_func *)pfiled_do_linetoscr_1;
else
pf

[2016-04-07 23:29] simontoens commented on #27
This is the most anticipated iAmiga fix I think....no pressure @mithrendal  :)

[2016-04-08 15:03] MrStargazer commented on #32
In addition working concurrent on a project with such a large central file leads often to merge conflicts. With Simons solution those merge conflicts would rarely occur.

[2016-04-13 10:22] emufreak commented on #36
@mdbergmann I fixed this in my latest commit to dev. Can you confirm?

[2016-04-13 10:24] emufreak commented on #35
@mdbergmann Should work too. Can't test it though. Can you give it a go?

[2016-04-13 18:37] mdbergmann commented on #36
I can confirm that my extracted original A500 v1.3 256k rom does work now.

Thanks

[2016-04-13 19:13] mithrendal commented on #36
Nice. Good work. 👍

[2016-04-13 19:28] mdbergmann commented on #35
Didn't work in my test. The screen stays black.
The Cloanto roms come with a rom.key file.
Probably they are encrypted.
Is that key file loaded at all?

[2016-04-13 19:37] #36 closed

[2016-04-13 20:12] yunti commented on #33
Ok thanks, sorry I'm unable to help as I don't know obj-C, hopefully something with the necessary skills would find this useful too.

[2016-04-14 06:59] emufreak commented on #33
@yunti Thanks for your contribution. I'd also like this and might give it a try one day.

[2016-04-20 05:31] emufreak commented on #31
I've given the issues with speed some thought. Browsing the web I found two main reasons for this. Cpu speed and Vsync emulation. VSync is used as a sort of time measurement for some games. As I understand it all this components run as fast as possible at the moment.

@simontoens maybe you can test if this is fixed in uae4all2 on some of this games.

[2016-04-22 10:54] simontoens commented on #31
@emufreak yes I can test with uae4all2 - this will take a while because I just got a new machine and I will have to re-setup uae4all2.

[2016-04-23 07:54] simontoens opened #44 "Add rom file selector"
So that users can switch roms easily.

[2016-04-23 08:03] simontoens opened #45 "Emulator states are tied to a specific rom version"
I tried restoring an emulator state created with kick 1.2 while running with kick 1.3 - this does not make the emulator happy.  I am not sure this can be fixed but it would be nice to at least detect this situation and alert the user when a state is being restored.

[2016-04-24 02:43] simontoens commented on #45
Actually this does not happen for all saved states, many created with kick 1.2 seem fine when restored under kick 1.3.  I am closing this for now.

[2016-04-24 02:43] #45 closed

[2016-04-24 07:03] emufreak commented on #44
Would be really useful

[2016-04-24 07:05] emufreak commented on #35
I'm working on this. There are still some bugs but I got the general idea.

[2016-04-24 07:09] emufreak commented on #31
@simontoens Thanks

[2016-04-24 07:38] simontoens commented on #29
More work can be done to improve HD support but I am going to close this for now.

[2016-04-24 07:38] #29 closed

[2016-04-24 22:04] simontoens opened #47 "Writing to disk is not persisted to adf"
I am seeing the following behavior using Workbench/CLI:
1) Boot into Workbench
2) Insert another disk into df1:
3) Copy a file to df1: such as "Clock"
4) Close the df1: window and re-open it - "Clock" is there
5) Eject df1: and re-insert the disk - "Clock" is gone.

It seems like the modifications are made in memory only, but not written to the underlying adf file.

[2016-04-26 01:56] simontoens opened #48 "Emulator states don't restore hd state"

[2016-04-30 13:06] simontoens commented on #44
I am working on this now

[2016-05-01 07:35] emufreak commented on #44
Association from .rom files might be a good Idea too. Could this be done in the process?

[2016-05-01 10:49] simontoens commented on #44
What do you mean by association?

[2016-05-02 04:48] emufreak commented on #44
That files can get imported to iUAE after Download or from AirDrop

[2016-05-02 11:44] simontoens commented on #44
Sure I can add that.

[2016-05-17 18:12] emufreak commented on #35
Hi @mdbergmann

I fixed this. You'll have to add rom.key using Itunes. Then you should be able to load the Cloanto rom.

Please confirm

[2016-05-17 21:53] simontoens commented on #44
@emufreak I am closing this, let me know if you want me to change something.

[2016-05-17 21:53] #44 closed

[2016-05-26 06:19] simontoens commented on #28
I will be working on some aspects of this in the near future.

[2016-07-04 08:07] #35 closed

[2016-07-04 15:39] emufreak opened #53 "iUAE v1.2"
I'd like to make a new release containing the new Features from dev.

Is there anything you think has to be done before releasing it.

Personally I'd like to have Issue "Emulator states don't restore hd state" fixed for this release but it's not a must.

It's already packed with many great new features, so I don't see anything to be done there.

[2016-07-04 19:34] simontoens commented on #53
I agree there are a lot of new features that are worth releasing.

I have not looked yet at how much work it is to get the state restoring working with hd - I am assuming this works fine with uae4all2 and it is just a matter of copying over/tweaking  more files, but I have not verified, and I don't have time in the near future to look at this.  Unless you have time, I'd vote for releasing without

[2016-07-05 12:13] mithrendal commented on #53
I would like to have more time for this, but recently I am busy as never before... Beside this feel free to go. ;-) Only one more issue that I discovered but not yet added to our issues list. When I tested the accelerometer joystick feature from stargazer, I found that it did not work remote controlled. The original version of stargazer did work correctly remote-controlled in the beginning, but th

[2016-07-06 18:51] emufreak commented on #53
I think I fixed the remote controlled accelerometer recently. I think I'll release this after some more tests next week.

[2016-07-06 21:13] mithrendal commented on #53
@emufreak I tested it about two moths ago. If you fixed it recently then its fine.

[2016-07-21 20:32] emufreak commented on #53
Finally was able to package for cydia store

-Support for Multiple Joypads
-Use your Idevice as a Joypad
-Gyroscope option for Vpad
-HD Support
-Kickstart Rom Selector
-Support for Cloanto Amiga Forever Roms and 256k Roms
-Improvement in Memory handling
-Many small improvements

[2016-07-21 22:04] simontoens commented on #53
Awesome @emufreak thanks!  btw do you have any idea of how many downloads you are getting for iUAE?  Just curious whether we can tell how many users there are.

Should I merge dev into master or are you already doing it?

[2016-07-22 07:03] emufreak commented on #53
I just know about the Cydia downloads. Checkout http://apt.thebigboss.org/stats?dev=emufr3ak. I think the popularity of Version 1.0.5 is due to the fact, that it was just released after a Jailbreak for iOS 8 was available.

No Idea how many people download from my website (No way to find out for Google Sites) or from Github.

[2016-08-02 19:03] emufreak commented on #31
Just found out that Defender of the Crown runs fine for me if i switch on NTSC settings

[2016-08-02 21:42] simontoens commented on #31
hmmm I don't see any difference.  Which adf version are you using?

[2016-08-04 07:20] #53 closed

[2016-08-04 07:21] emufreak commented on #48
Hi Simon. I'm working on this and will commit soon.

[2016-08-04 07:24] emufreak commented on #30
Implemented in 1.2. Will close this Issue

[2016-08-04 07:24] #30 closed

[2016-08-04 17:39] simontoens commented on #48
Great, I am curious to see what the fix is.

[2016-08-09 10:11] emufreak commented on #48
Hi Simon. I just backported savestates.cpp from uae4all2. I'm not sure it makes any difference. Before the chances i used savestates with Monkey Island 2 on HD. Sometimes it worked sometimes it didn't and I didn't have the chance to test a lot with the new version  yet.

[2016-08-09 18:04] simontoens commented on #48
I looked at savestates.cpp from uae4all2 a while back and I didn't see anything obvious in there about saving hd state.  Still, good that you backported it just in case.

[2016-08-10 20:29] emufreak commented on #48
Hmm. Last few times savestates from HD worked for me. But it might be luck.

Especially because i found this in the comment sections of savestates.cpp
- \- only Amiga state is restored, harddisk support, autoconfig, expansion boards etc..
-   are not saved/restored (and probably never will).

No difference in the latest uae4all2 concerning this comment by the way

[2016-08-10 21:29] simontoens commented on #48
Thanks for the update.  That comment is pretty clear.  But it is kind of strange it works sometimes...

[2016-08-10 21:40] simontoens commented on #48
I wonder if this has to do with correctly re-establishing the path of the hd file after iAmiga has been re-installed on a device?  Does saving/restoring an hd state actually fail if you do not re-install iAmiga on the device?  Or is the success/failure pattern just random?

[2016-08-11 22:29] simontoens commented on #48
Just played with this a little, it seems like hd states work as long as the right hd is manually mounted before the state is reloaded?

[2016-08-12 01:38] simontoens commented on #48
So maybe the fix is to track the mounted hd when saving a state and to mount it again when the state is restored?  @emufreak does that sound right?  Or did you run into other issues with this?

[2016-08-20 22:38] Jo-Vo opened #54 "MFI-Support is broken"
Version 1.2 (maybe it already was 1.1, have to test) apparently broke MFI support - or maybe it just broke Support for Controllers4All (which worked fine before).

[2016-08-21 08:11] emufreak commented on #54
My official Mfi Controller works fine. I think there must be something wrong with Controller4All. I might check it out but it could take a while.

[2016-08-21 08:16] emufreak commented on #48
While I do think this helps the problem doesn't go away completely. Sometimes everything works fine. Sometimes I can play fine but when I try to save my progress I get a guru meditation. I think the problem has to do with saving on Harddisk.

[2016-08-21 08:27] Jo-Vo commented on #54
OK, I don't have an official MFI, just a PS3 connected via Controllers4All. This combination used to work well (and still works in other games).
Thinking of it, it might as well be a compatibility-problem with iUAE and Controllers4All that doesn't depend on iUAE version1.2, but on iOS9.3.3, as I earlier had 9.0.2.

Is there a way to get iUAE 1.1&1.0 to test those with Controllers4All on iOS9.3.3?

[2016-09-16 20:19] sacredbanana opened #58 "Crash on iOS 10"
Pushing the settings button when opening the app on iPhone 6 Plus will cause the app to crash. Possibly an iOS 10 issue.

[2016-09-17 14:46] emufreak commented on #58
Can confirm this happens and is related to iOS 10

[2016-09-20 20:46] emufreak commented on #58
Fixed in iUAE 1.2.1

[2016-09-26 16:33] sacredbanana commented on #58
just downloaded 1.2.1 and the same thing happens

[2016-09-27 08:44] emufreak commented on #58
Where did you download it from? I made a mistake commiting 1.2.1 to the master branch

[2016-10-04 11:28] emufreak commented on #58
@simontoens @mithrendal @mrstargazer Can someone else test this. I have all my devices on iOS 9 due to jailbreak

[2016-10-04 11:32] emufreak commented on #54
This is fixed in the recent dev-branch

[2016-10-04 11:51] simontoens commented on #58
I will have a look.

[2016-10-04 11:55] simontoens commented on #58
But I won't get to this right away as I am on vacation.

[2016-10-04 12:12] sacredbanana commented on #58
I downloaded it from the releases tab and also I pulled it from the master thread. Both crash on iOS 10 on my iPhone 6 Plus

[2016-10-05 01:32] simontoens commented on #58
@sacredbanana @emufreak I updated my iPad to iOS 10 - I cannot reproduce this.  I am running the latest code from the dev branch.

[2016-10-06 20:51] sacredbanana commented on #58
I can confirm the one on the dev branch is working fine.

[2016-10-06 23:44] simontoens commented on #58
Thanks for checking - @emufreak, maybe you can cut another release from the dev branch?

[2016-10-22 23:03] #28 closed

[2016-10-23 06:11] simontoens commented on #58
Sounds like we can close this?  @emufreak

[2016-12-31 00:09] mithrendal commented on #27
ok I got some little progress on this one. I can tell that unfortunately its a mix of lines in iAmiga Code AND the uae4all source. Files are BaseEmulationViewController, drawings.cpp custom.h options.h so far.
I can see at least some fullscreen hires, but only in the part of the screen where the mouse pointer is (maybe 32 Pixel height). The other part the hires screen is hires but clipped to the h

[2016-12-31 01:33] simontoens commented on #27
Hi @mithrendal nice to hear from you.  Happy new year!

I casually also looked at this a few weeks ago and came to the same conclusion as you..I didn't make any significant progress, so I am glad you are still looking at this :)

[2017-01-01 17:55] mithrendal commented on #27
Hi simon,
ok, got it running. Its so beautiful. It is all hires now. BTW no changes in custom.h and custom.cpp necessary.

+our old emulator core does the following:
destwindow = 320x256
if lores then simply write pixel to destination
if hires then skip every second pixel

+newer cores working the other way around:
destwindow = 640x256 or more
if lores then expand pixels to destination
if hires th

[2017-01-02 05:47] simontoens commented on #27
@mithrendal sounds great - looking forward to your changes.

[2017-01-02 08:15] mdbergmann commented on #27
That's great.

[2017-01-02 12:48] mithrendal opened #62 "Hires bitplanes 2 to 5 not drawn at the first horizontal 16 pixels"
![img_8390](https://cloud.githubusercontent.com/assets/17108995/21589396/8e881844-d0f1-11e6-9f36-468b748ec13f.PNG)

You see this clearly at the empty/full bar.

![img_8389](https://cloud.githubusercontent.com/assets/17108995/21589424/e65b54e6-d0f1-11e6-9363-4c08c779dcf8.PNG)

Here I dragged the window some pixel more to the right.

@emufreak @simontoens @mdbergmann  could someone confirm that it's

[2017-01-03 20:53] mithrendal commented on #47
Isn't it possible to write back on eject or emulator exit? Do you mean eject from iuae menu?

[2017-01-03 23:28] simontoens commented on #47
@mithrendal yes "eject" from the iuae disk menu.

I think there is an option in the core emulator to enable writing back modifications to the underlying adf file, at least I saw this in fs-uae.  So my guess is that it is just a matter of finding and exposing that setting in the iuae disk setting.

[2017-01-04 23:12] mithrendal commented on #27
Here are my changes.
#63 should completely fix this issue.

Because I don't want to break the compatibility of the emulator, I always tried to go the least invasive way.

Hope you will be loving it  ;-).  You can test this puppy out at mithrendal/iAmiga/dev.

[2017-01-05 12:46] mithrendal commented on #47
If I need to write back persistently I use for now your save states feature, this is at least some sort of a workaround for this issue. Better would be of course a ro/rw setting as you did with harddrives...

[2017-01-05 12:54] simontoens commented on #47
Yes I don't think this is very high priority.

In my opinion, now that you fixed the hires issue, the next most important issue that needs to be fixed is the one about some games running too fast, specifically all the Cinemaware games I have tried...

[2017-01-05 16:05] mithrendal commented on #47
What about #62 ? Maybe I am lucky and can find it in a short time. That's about it all. Fixing is not that difficult. But finding is much harder as it implies that one understands the existing code and underlying concepts. That was also the case with the hires issue.

Also what I like to do is set vertical stretch automatically. When you take fs uae for example, it always scales the height automat

[2017-01-06 00:19] simontoens commented on #47
Yes agreed #62 is a good one, specially since you are already in that area of the code...

Yes, finding is super hard!

[2017-01-06 16:36] mithrendal commented on #62
I have fixed this issue with this commit 72c6daaa1233b81dc7b973e22d9a1a273c11fa54 . The commit is part of the current pull request.

@simontoens @mdbergmann @emufreak

[2017-01-06 16:42] mithrendal commented on #62
![img_8394](https://cloud.githubusercontent.com/assets/17108995/21725155/7940b5d8-d437-11e6-8c7d-c7003417b1e1.PNG)

Now it looks gorgeous, doesn't it?

[2017-01-06 23:15] simontoens commented on #62
Looks great @mithrendal!

(also happy to see you are a fellow WB 1.2 user - as opposed to 1.3 :)

[2017-01-07 08:21] mithrendal commented on #62
Next is the speed issues in cinemaware apps. I have an idea. It may be conjuncted to the fact that our emu doesn't draw all of the 256 PAL lines. It is restricted to draw only 240 which may also still include some offscreen pixels.  Seems the output is restricted to NTSC. That may affect the vertical blank timing. And that in consequence may affect the timing of amiga apps when they rely on vblank

[2017-01-07 08:59] simontoens commented on #62
I wish I knew more about the emulator internals...I am glad you do - so are you saying that we don't support PAL mode correctly?  Although I am always running in PAL mode..

[2017-01-07 10:27] mithrendal commented on #62
Yeah maybe. Just look at drawings.cpp
#define GFXVIDINFO_HEIGHT 240
#define MAXBLOCKLINES 240

It does not draw more than 240 lines even if you are running in PAL. You also see this when you run for example deluxe paint and choose a 320x256 screen. You see there that the very bottom of the screen is left out.

But whether this also affects the vblank timing has to be seen...  I will look into that

[2017-01-11 21:50] mithrendal opened #64 "last 16 lines of pixel on the bottom not drawn when PAL due to gp2x uae-core code base"
Our uae-core was stripped down in the past for the gp2x portable console. At least I guess it from the name of its root folder.

The gp2x handheld console from 2005 has a display resolution of 320 x 240 pixel. See [wikipedia](https://en.wikipedia.org/wiki/GP2X)

The limited width of 320 pixel has been already addressed in issue #27

This issue is for the height. The very last 16 pixel lines on the

[2017-01-14 21:36] mithrendal opened #65 "no adaptive vertical stretching"
Vertical stretching is not done automatically. We must find an adaptive way for that.

It seems that FS-UAE for example has a way to automatically adaptive scale to the last y position of the last amiga viewport on the bottom of the screen.

[2017-01-14 21:52] mithrendal commented on #65
Solved it by implementing an automatic adaptive vertical stretch strategy.
Removed the old manual way of specifying an additional vertical stretch by pixel in the settings (That old way was more or less a hack anyway).
The new stretching method is really great fun. Now all software titles I throw at the emulator are automatically stretched horizontal AND vertical to the maximum. Thats so import on

[2017-01-16 18:16] mithrendal commented on #65
I just find out that the new adaptive vertical stretching isn't working when a effect is choosen in display settings. For now the adaptive vertical stretching is only working when no effect is selected. I will look into that...

[2017-01-16 23:18] mithrendal commented on #65
Fixed that. And also do adaptive vertical stretch over the top black border if existent. Some games have this for example gods from the famous bitmap brothers.

[2017-01-24 08:21] emufreak commented on #47
Just noticed that writing to df0 doesnt work anymore also. This makes it high priority in my opinion as it makes games relying on savestates unusable.

[2017-01-24 08:42] simontoens commented on #47
@emufreak as far as I know writing to any floppy disk drive has never worked.  But it sounds like you think it has worked before?  As far as I remember I have always used savestates to persist floppy state.

[2017-01-25 07:23] emufreak commented on #47
@simontoens I know it worked on early 1.0 releases. I used it to play Lemmings 2 back then. Didn't use it anymore since then however

[2017-01-25 07:52] simontoens commented on #47
@emufreak ok good to know.  Personally I think the workaround @mithrendal suggested, saving emulator states, is still valid.  But yeah, we should fix this...

[2017-01-31 22:19] mithrendal opened #66 "Sound distortion when I double the speed of M68020"
I have activated the 68020 in the fame core with int prefs_cpu_model=020.
According to the amiga benchmark Sysinfo Version 3.18 it gives me now about 3 times the power of a stock Amiga 1000 and approximately 1.31 the computing power of an stock A1200 with a 68EC020 14Mhz.

Everything runs quite fine especially Frontier has much better framerates. ;-)

But when I want to drive our emu like crazy an

[2017-01-31 22:31] simontoens commented on #66
@mithrendal sorry I don't know.  I adjusted the sound buffer size based on experimentation way back, as you saw.  Before that change, the sound was also totally distorted.

[2017-02-01 01:54] simontoens commented on #66
@mithrendal I think it would still be nice if we could expose these CPU related settings officially, ie in our UI, even if we label them as "experimental" for now.

[2017-02-01 06:41] emufreak commented on #66
@mithrendal Yes I agree. We'd need two settings. One for the Cpu (68000 or 68020) and one for the speed (Original or Overclock). The name Overclock itself shows that it's experimental and may cause compatibility problems. I'd also suggest a separate page in Settings for this as it gets quite crowded on the main page.

[2017-02-01 15:50] mithrendal commented on #66
In order to run frontier-elite2, I have also set the chip ram to 2 Megabyte.

I also think what we need is a separate machine setting page, where we can set the size of chip memory, maybe also fast-memory, cpu-type and cpu-clockspeed.

[2017-02-02 07:27] emufreak commented on #66
Yes I experimented with Chipmem and Fastmem also. Unfortunately didn't get Fastmem to work. I had no Issues with 2Mb Chipmem and Ocs however even though this configuration doesn't exist on any real Amiga.

I also think a Machines settings page would be a good Idea

[2017-02-03 08:06] emufreak opened #67 "Switch to 64bit"
Apple will most likely drop 32 bit support soon. See http://www.macworld.com/article/3163248/ios/the-future-of-ios-is-64-bit-only-apple-to-stop-support-of-32-bit-apps.html. iUAE is 32bit only.

Unfortunately this is not a matter of a simple recompile. The Issue is iUAE converts certain values to pointers (Probably stuff in Amiga Memory which is 32bit)

[2017-02-03 11:56] mithrendal commented on #67
At least others did this transition already successfully. See http://eab.abime.net/showthread.php?t=79762

@emufreak when we  change compiler settings to 64bit what happens?

1.Do we get warnings/errors on code we have to adapt?
2.we dont get any warnings or errors it just crashes.

I vote for case 1. 😉

[2017-02-07 22:04] mithrendal commented on #66
Hi @emufreak

I have 8 MB of real Fastmem up and running parallel to the 2MB Chipram. It is easy going. You just have to specify the amount in the expansion.cpp:

static void allocate_expamem (void)
{
    static int fastmem_size =  0x00800000; // currprefs.fastmem_size stoens: commented out when adding hd support
....

[2017-02-07 22:09] mithrendal commented on #66
![img_8541](https://cloud.githubusercontent.com/assets/17108995/22713883/79d2c862-ed8a-11e6-961d-343c8f0e6691.PNG)
![img_8542](https://cloud.githubusercontent.com/assets/17108995/22713894/83da33f4-ed8a-11e6-80f0-8744a6298e1a.PNG)

[2017-02-11 11:31] mithrendal commented on #67
I just switched to 64 Bit only version and first I got loads of compile errors.

I made a handful of changes in order that it builds successfully and at least I can report that I can build, deploy and run it on 64Bit now.

But it crashes very early in

static void init_mem_banks (void)
{
    int i;
    for (i = 0; i < 65536; i++)
        put_mem_bank (i << 16, &dummy_bank);  //<---- here i got EXC

[2017-02-12 04:12] simontoens commented on #67
Thanks @mithrendal - given what you looked at so far, do you think we can get this running in 64 bit mode?  Would be a pity to not be able to run this emulator anymore.

[2017-02-13 08:55] mithrendal commented on #67
I think we have two ways here to go.

first way "Stick with the old emulator gp2x core and migrate it to 64Bit":
tasks:
- read and understand the apple migration guides to 64Bit
- do the migration to be able to successful compile it. (I think this task has to be done very carefully otherwise we be will haunting countless runtime bugs)
- do the runtime debugging

second way ["migrate to a modern 64

[2017-02-13 23:14] simontoens commented on #67
@mithrendal yes definitely from a high level, option 2 sounds way better.  Would be good to get @emufreak 's thoughts here...

[2017-02-18 12:14] mithrendal commented on #67
Hi @simontoens

I played a bit with the 64Bit conversion of our existing emulator core.

It runs now 64Bit without a crash. the cpu is up and running opcodes in the memory , the menus are there and fully functional.
Custom chip graphic output is also there.
but on booting up the amiga it shows

on kickstart 1.3  a gray screen with a flashing red status LED (the one left to the df0: LED).

On kicks

[2017-02-18 13:07] simontoens commented on #67
Nice to see you are making progress!  Did you have to make a lot of changes so far and was it very time consuming?  I remember when the red Amiga light was blinking on my real Amiga, it usually meant something horrible was about to happen :)

[2017-02-18 15:49] mithrendal commented on #67
I did spent 3 sessions each about an hour or so. Made changes in 40 to 70 lines of code so far don't know exactly.

First session it didn't compile.
Second session I made it build and compile, but it crashed.
Third session I removed two crashes one in memory the other in the fame cpu code.

Maybe I should concentrate now on the warnings? Or should I determine the exact step where the amiga is not

[2017-02-18 19:27] emufreak commented on #67
What about the uae4all2 code. Is this 64bit? The gp2x is very similar because it's based on it.

[2017-02-18 19:29] emufreak commented on #67
Sorry for my short answers (or lack of them). I'm working on something else at the moment. I plan to spend more time on iUAE next month though.

[2017-02-19 09:23] #65 closed

[2017-02-19 09:23] #64 closed

[2017-02-19 09:23] #62 closed

[2017-02-19 09:24] #27 closed

[2017-03-27 19:22] #58 closed

[2017-04-14 07:18] emufreak opened #68 "iUAE 1.3"
I think we are ready for a new release. The dev-branch now contains the following new features (Please tell me if something is missing):

-Correctly working hires mode (thanks again @mithrendal)
-Better usage of screen space resulting in larger image
-Some fixes for dual playfield
-Configurable Memory

Please play around it a bit and tell me if you find any issues till the end of next week

[2017-04-15 09:39] emufreak commented on #68
Just commited a fix to support 64bit-compilation. This needs more testing (on 32bit and 64bit devices). I'll probably not release this version to the public till may.

[2017-04-15 14:46] emufreak commented on #67
64bit is implemented and ready for testing in dev

[2017-04-16 09:44] emufreak commented on #67
There is one issue that still prevails.
There are now hundreds of warnings about type conversion issues.

The reason for this is that type conversions can be a serious issue when switching to 64bit. "Lacy" coders just assumed a pointer to be the same size as an integer (32bit). This is right for 32bit architecture but not 64bit. This warnings helped me a lot to fix some serious issues with pointer

[2017-04-16 14:25] mithrendal commented on #68
Really fantastic news!!! Will check it out in the coming days. Thank you so much 😊.

[2017-04-20 17:48] mithrendal commented on #67
Thanks 🙏 so much for this work @emufreak   I found one bug so far. Virtual joypad is not working.

[2017-04-23 13:39] mithrendal commented on #67
@emufreak @simontoens
Hundreds of warnings are a bad thing to have in code because you will not see new problems you are about to add to the code. Because of the hundreds of warnings that new created warnings will not track your attention anymore. But in this particular case I think we should be rather conservative and leave them as they are for the following reasons:
+ the emulator runs stable no

[2017-04-28 13:21] emufreak commented on #67
It took me around  10 hours. For the errors  it was enough to change the coversion from (uint) (uiptr_t) m. Last one is a datatype that has the same length as a pointer. This means its kength is 32bit on a 32bit system and 64bit on a 64bit system. I mostly looked at the errors  individually but I did search and replace for the opcodes file as there were so many.

I had to look at the warnings indi

[2017-04-29 01:00] simontoens commented on #67
Thanks @emufreak - I am glad we can keep using this emulator.

Regarding the warnings, maybe we should suppress them?  I remember going through something similar way back: https://github.com/emufreak/iAmiga/commit/59b7307e6de39ded185154449766a8f0bfd8be84

[2017-04-30 20:30] mithrendal commented on #67
something completely different ...

https://www.zdf.de/dokumentation/zdfinfo-doku/die-amiga-story-100.html

;-)

[2017-05-13 10:33] mithrendal commented on #67
Hi guys,
I did a bit more testing an 64 Bit only build of the latest dev branch.

Restoring previously saved states is still broken. It does not restore.

I fixed it in memory.cpp line 992 -> STATE_RESTORE
was
	int outSize=allocated_chipmem;
        int inSize=compressed_size;
only the second line gave one warning about long to int conversion losses. No warnings in first line.

but both lines must

[2017-05-16 05:57] simontoens commented on #67
@mithrendal thanks for testing/fixing!  I am sorry that recently I did not have much time to spend on iAmiga.  I am hoping we can sort all these issues out over time...

[2017-05-22 20:53] mithrendal commented on #67
yes you are right we sort the little bugs all out over time.

But I also already found the fix for the controller mapping bug.

it was in

- (void)setkeymapfordeviceID:(NSString *)dID {
    //int  kmNumber = [_dMap indexOfObject:dID];  <-- 64 Bit bug due to negative number

    //it must be
    NSUInteger kmNumber = [_dMap indexOfObject:dID];

otherwise the following test in the same method is nev

[2017-05-23 16:48] emufreak commented on #67
@mithrendal The nice thing about uintptr_t is, that it always fits the length of a pointer no matter if it is 32bit or 64bit or in the future maybe 128bit. This ensures forwards and backwards compatibility.

[2017-12-16 11:36] mibry opened #72 "Cannot initialize a variable of type 'char *' with an rvalue of type 'const char *'"
Trying to compliling on iphone with ios11 I get the above error.

Cannot initialize a variable of type 'char *' with an rvalue of type 'const char *'
The error is in the file below:
/Users/test/Downloads/Source 2/libraries/sdl-mini/src/joystick/iOS/iCadeReaderView.mm:225:11: Cannot initialize a variable of type 'char *' with an rvalue of type 'const char *'

[2017-12-31 21:33] mithrendal commented on #72
Hi @mibry ,
this is already fixed, see this pull request  #71 . Thanks for reporting....

[2018-02-11 13:06] dobrynski commented on #68
Is the 1.3 release still forthcoming?

[2018-02-19 20:12] emufreak commented on #68
1.3 release is the last stable version.

[2018-02-19 20:12] #68 closed

[2018-05-04 20:29] voji commented on #67
I try 1.3.0 iUAE 64 bit version on IOS 11 (installed from cydia). Everything is work fine, but when i try to restore emulator state (any game) the app crash... So, I think the 64bit bug in state restoration rutine still exists

[2020-03-22 19:40] starrshaw commented on #72
This issue can be fixed with:

char const *p = strchr(ON_STATES, ch);

[2021-09-26 10:19] eduo commented on #67
Hello, all.

I see communication stopped three years ago. I there a fork that’s been able to keep the port up to date with released IPAs? I see a renewed interest in retroemulation in iPads due to the improved joystick, keyboard and mouse support and while I’ve been able to provide an IPA that I use to friends I am not confident at all that it is really the latest version.

Normally githubs that g

[2021-09-26 10:28] mdbergmann commented on #67
Seems there are: https://github.com/emufreak/iAmiga/network

[2021-09-26 11:15] mithrendal commented on #67
I found a nice clean codebase for accurate and high performant amiga emulation at https://github.com/dirkwhoffmann/vAmiga ... the code is excellent and compatibility shouldn't be lower than the old uae core in iAmiga ... I would bet it is much higher still... and the best ... it is actively maintained

@dirkwhoffmann did also an emulation of the c64 which I already ported to a PWA (progressive web

[2021-09-26 20:07] eduo commented on #67
@mdbergmann  That's where I pulled the forks I mentioned from. The network precisely seems to show only the two I mentioned have had any activity in years.

Thanks, @mithrendal . I don't particularly care for PWAs, but I'll take a look. For C64 I run the excellent Ready (which also has Spectrum emulation and spectacular hardware emulation all in all).

[2021-10-15 09:59] mithrendal commented on #31
@simontoens this week I have got Xenon2 working now on my iPhone... 🤤

![FF5A92B1-ADA9-4208-9082-9A6A5E04F0A5](https://user-images.githubusercontent.com/17108995/137538796-6420816b-acb5-4454-9733-608079448646.png)

took a long journey to come to this result but 😍 I like it ...

the culprit here is exact emulation timing 🙄 as @emufreak already said....

... my dream some years ago was to migrate iA

[2021-10-15 12:14] simontoens commented on #31
@mithrendal great to hear from you and also this looks amazing.  I will try it out right away.  I am actually working on another emulator attempt of the best computer ever (sorry I can't tell if you are leaning more towards C64 or Amiga - you know you will have to decide at some point 😈 ) - I was (well I am) trying to port fs-uae to iOS.  But that isn't trivial because of dependency hell. I am goi

[2021-10-15 12:40] mithrendal commented on #31
well FSUAE is also a hell to understand .... I thought of it too to bring it in iAmiga in the past ... I would say after my experiences with vAmiga ... that the update to the vAmiga core is by far ☝️!!! ... more simple ...

advantages:
- it is already a XCode project ...
- it has practically no dependencies ...
- it is a complete new and clean code base ... no historic relicts ...
- just drop the

[2021-10-15 13:34] simontoens commented on #31
Definitely the "no dependencies" thing is a huge advantage...